.app .WaypointsGUI .wpPopupLoadBox, .app .WaypointsGUI .wpPopupSaveBox {
    display: none; /* Hide the DIV */
    position: fixed;
    height: 101%;
    width: 100%;
	margin-left: auto;
	margin-right: auto;
    z-index: 100;
	border-radius: 7px;
	overflow: hidden;
	position: relative;
}

.app .WaypointsGUI select, .app .WaypointsGUI input, .app .WaypointsGUI button{
	width: 99%;
}