.app .WaypointsGUI #wpPopupLoadBox, #wpPopupSaveBox {
    display: none; /* Hide the DIV */
    position: fixed;
    height: 101%;
    width: 100%;
	margin-left: auto;
	margin-right: auto;
    z-index: 100;
	border-radius: 7px;
	overflow: hidden;
	position: relative;
}

.app select, .app input, .app button{
	width: 99%;
}